*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: auto;
    height: 45px;
}


.logo img{
    width: auto;
    height: 100%;
}

@media (max-width:600px) {

    .slider-image{
        display: none;
    }


    
    
}

.head{
    border-bottom: 2px solid yellow;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 10px;
    border-radius: 2px;
    margin: 0 auto;
}

img.logo{
    width: 100px;
    height: 40px;
}

.nav-text li a{
    color: black;
    font-weight: 400;

}


.nav-text li a:hover{
    border-bottom: 2px solid black;
}